// BUTTONS

.widget .btn,
.widget button.btn,
.widget button.button,
.contactform button,
.contactform button.btn,
.advancedcontactform button,
.advancedcontactform button.btn,
.widget.signupform .form-group button,
.widget.signupform .form-group button.btn,
.widget.blogsearch .form-group button,
.widget.blogsearch .form-group button.btn,
.widget.ecomproductslist .ecom-productslist-products .productlist-filter .form-group.productlist-search button,
.widget.ecomproductslist .ecom-productslist-products .productlist-filter .form-group.productlist-search button.btn,
.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button,
.widget.filedownload button.btn,
.widget.paypalbuynow .widget.button.paypal,
.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a,
.widget.feature .feature-bgimg .content button,
.userregistration fieldset .userregistrationbtn,
.widget.yelpreview .review-body .review-link a,
form.blog-search-form .form-group button,
.blog-post-more-link a,
.contentgroup__link {
	outline: none;
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight:  @font-swatch7-font-weight;
	line-height:@font-swatch7-line-height;
	letter-spacing: @font-swatch7-letter-spacing;
	padding: 8px 30px;
	border: none;
	border-radius: 0;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	.transition(all, 0.3s, ease);
	-webkit-font-smoothing: antialiased;
	min-width: 100px;
	height: auto !important;

	.style--light & {
		background-color: @color--accent;
		color: @contrast--accent;
	}

	.style--accent & {
		background-color: @color--dark;
		color: @contrast--dark;
	}

	.style--dark & {
		background-color: @color--accent;
		color: @contrast--accent;
	}

	&:hover {
		text-decoration: none;
		background-color: @font-swatch7-background-color-hover;
		.transition(all, 0.3s, ease);

		.style--light & {
			background-color: @color--dark;
			color: @contrast--dark;
		}

		.style--accent & {
			background-color: @color--light;
			color: @contrast--light;
		}

		.style--dark & {
			background-color: @color--light;
			color: @contrast--light;
		}
	}

	@media @mobile {
		width: 100%;
	}
}

.basket-summary-empty-cta,
.ecombasket-summary-link {
	display: inline-block;
}


.widget.ecomcheckout .checkout-order-button:disabled,
.widget button.btn:disabled {
	background-color: fadeout(@font-swatch7-background-color, 50%);
	cursor: not-allowed;

	.style--light & {
		background-color: faeout(@color--accent, 50%);
	}

	.style--accent & {
		background-color: faeout(@color--dark, 50%);
	}

	.style--dark & {
		background-color: faeout(@color--accent, 50%);
	}
	
	&:hover {
		background-color: fadeout(@font-swatch7-background-color, 50%);

		.style--light & {
			background-color: faeout(@color--accent, 50%);
		}

		.style--accent & {
			background-color: faeout(@color--dark, 50%);
		}

		.style--dark & {
			background-color: faeout(@color--accent, 50%);
		}
	}
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @contrast--accent;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	}
}

// Image Buttons

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button,
.widget.filedownload button.btn {
	&, &:hover, &:focus {
		background-image: none;
	}
}

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button span,
.widget.filedownload button.btn {
	&:before {
        position: relative;
        top: 0.1em;
		padding-right: 0.25em;
		background-image: none;
		font-family:'FontAwesome';
		font-size: 1.25em;
	}
}

.widget.tweet a:before {content: '\f099';}
.widget.clicktocall a:before {content: '\f095';}
.widget.dropbox button span:before {content: '\f16b';}
.widget.filedownload button.btn:before {content: '\f019';}

.widget.paypalbuynow .widget.button.paypal {
	padding-left: 3.2em;
    background-size: 1.2em;
    background-position: 1.25em center;
}

.widget.filedownload div {
	@media @mobile {
		float: none;
	}

	span.file-name {
		display: block;
		margin: 0.5em 0;
	}
}

.widget.socialicons,
.widget.profile .bk-profile-socialicons {
	margin: 0;

	span {
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: none;
			margin: 10px 5px;
			padding: 0;
			background-color: fade(@color-swatch1, 80%);
			border: 2px solid @color-swatch3;
			color: @color-swatch3;
			height: 38px;
			width: 38px;
			min-height: 38px;
			min-width: 38px;
			.border-radius(50%);
			text-indent: 0;
			font-size: 0;

			.style--light & {
				background-color: @color--light;
				border-color: @color--accent;
				color: @color--accent;
			}

			.style--accent & {
				background-color: @color--accent;
				border-color: @color--light;
				color: @color--light;
			}

			.style--dark & {
				background-color: @color--dark;
				border-color: @color--accent;
				color: @color--accent;
			}
		
			@media @mobile {
				width: 36px;
				height: 36px;
			}

			&:hover {
				background-color: @color-swatch1;

				.style--light & {
					background-color: @color--light;
				}
			
				.style--accent & {
					background-color: @color--accent;
				}
			
				.style--dark & {
					background-color: @color--dark;
				}
			}

			&:before {
				font-family: 'FontAwesome';
				text-indent: 0;
				font-size: 24px;
			}
		}

		&.bk-socialicons-linkedin a:before {content: '\f0e1';}
		&.bk-socialicons-twitter a:before {content: '\f099';}
		&.bk-socialicons-instagram a:before {content: '\f16d';}
		&.bk-socialicons-pinterest a:before {content: '\f0d2';}
		&.bk-socialicons-facebook a:before {content: '\f09a';}
		&.bk-socialicons-rss a:before {content: '\f09e';}
		&.bk-socialicons-vkontakte a:before {content: '\f189';}
		&.bk-socialicons-xing a:before {content: '\f168';}
		&.bk-socialicons-youtube a:before {content: '\f16a';}
	}

	.icons {
		@media @tablet {
			padding: 0;
		}
	}
}

// FORMS

.form-group {
	margin-bottom: 1em;
}

label, .label,
.contactform label,
.advancedcontactform label {
	font-family: @font-swatch5-font-family;
	line-height: @font-swatch5-line-height;
	font-size: @font-swatch5-font-size;
	color: @font-swatch5-color;
	display: inline-block;
	margin-top: 1em;
    margin-bottom: 0;
    word-break: break-word;

    .style--light & {
		color: fade(@contrast--light, 90%);
	}

	.style--accent & {
		color: fade(@contrast--accent, 90%);
	}

	.style--dark & {
		color: fade(@contrast--dark, 90%);
	}
}

input,
textarea,
select,
form input,
form textarea,
form select,
input:-webkit-autofill,
input:-webkit-autofill:focus {
	border: 0;
	background-color: fade(@color-swatch2, 10%);
	padding: 0 12px;
	height: 40px;

	.style--light & {
		background-color: darken(@color--light, 10%);
		color: @contrast--light;
	}

	.style--accent &,
	.style--dark & {
		background-color: @color--light;
		color: @contrast--light;
	}
}

textarea {
	background-color: fade(@color-swatch2, 10%);
	border: 0;
	min-height: 100px;
	padding: 8px 12px;

	.style--light & {
		background-color: darken(@color--light, 10%);
		color: @contrast--light;
	}

	.style--accent &,
	.style--dark & {
		background-color: @color--light;
		color: @contrast--light;
	}
}

// Dropdown

.select-wrap {
	position: relative;

    .advancedcontactform & {
        max-width: 50%;

        @media @tablet {
            max-width: 100%;
        }
    
        .responsivecolumns & {
            max-width: 100%;
        }
    }
}

form select {
	padding-right: 2.2em;
    width: 100%;
    .appearance(none) !important;
	background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1.2em;

	&::-ms-expand {
		display: none;
	}
	
	option {
		background-color: @color-swatch1;
		color: @font-swatch5-color;

		.style--light &,
		.style--accent &,
		.style--dark & {
			background-color: @color--light;
			color: fade(@contrast--light, 90%);
		}
	}
}

// Profile Form

.widget.profile form fieldset input {
	background-color: fade(@color-swatch2, 10%);
	border: 0;
	border-radius: 0;
	font-size: bkscale(@font-swatch5-font-size, 0.95);
}

// Signup, Blogsearch, Ecomproductlist

.widget.signupform .form-group,
.widget.blogsearch .form-group,
.widget.ecomproductslist .ecom-productslist-products .productlist-filter .form-group.productlist-search {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
    label {
        width: 100%;
    }

    input {
        flex-grow: 1;
        margin-right: 1em;
        height: auto;
        min-height: 40px;

        @media @mobile {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1em;
        }
    
        .responsivecolumns & {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1em;
        }
    }
}

// Registration Form

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// Blog Search Form

.widget.blogsearch {
	form label {
		display: block;
		margin-bottom: 10px;
	}

	form input {
		background-color: fade(@color-swatch2, 10%);
		border: 0;
		border-radius: 0;
		font-size: bkscale(@font-swatch5-font-size, 0.95);
		margin: 0;
		text-indent: 6px;

		.style--light & {
			background-color: darken(@color--light, 10%);
		}

		.style--accent &,
		.style--dark & {
			background-color: @color--light;
		}
	}
}

// Mobile Buttons

.widget.profile form fieldset button.btn,
.widget.signupform fieldset button.btn {
	@media @mobile {
		left: 0;
		border-radius: 0;
	}

	@media @tablet {
		.responsivecolumns & {
			margin-left: 0;
			max-width: 100%;
			left: 0;
			border-radius: 0;
			margin-top: 8px;
		}
	}
}

// Radiobuttons and Checkboxes

.widget .form .option-list {
	margin-top: 1em;
	margin-bottom: 2em;

	.option-item--radio,
	.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: @font-swatch5-line-height / 2;
		padding: 0;
		min-height: @font-swatch5-line-height;
	}
}

.widget .form .option-list,
.widget .form-group[class*="form-group--terms"] {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: floor(@font-swatch5-line-height*0.8+2) !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 0;

		&:checked + label:after {
			opacity: 1;
		}
	}

	.label--radio,
	.label--checkbox,
	label[for*="input--terms"] {
		display: block;
		position: relative;
		cursor: pointer;
		padding-left: 2em;
		margin-bottom: 0;
		line-height: floor(@font-swatch5-line-height*0.8+2);
		font-size: @font-swatch5-font-size;
		word-break: break-word;
		text-align: left;
		text-transform: none;

		span a.form__link {
			font-family: @font-swatch5-font-family;
			font-weight: @font-swatch5-font-weight;
			font-size: @font-swatch5-font-size;
			line-height: floor(@font-swatch5-line-height*0.8+2);
			letter-spacing: @font-swatch5-letter-spacing;
		}
			
		&:before,
		&:after {
			cursor: pointer;
			display: block;
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			min-width: 0;
			height: floor(@font-swatch5-line-height*0.8);
			width: floor(@font-swatch5-line-height*0.8);
			background-color: @color-swatch1;
			border: 1px solid @font-swatch7-background-color;
			border-radius: 0;

			.style--light &,
			.style--accent &,
			.style--dark & {
				background-color: @color--light;
				border-color: @color--accent;
			}
		}

		&:after {
			opacity: 0;
			width: floor(@font-swatch5-line-height*0.8);
		}
	}

	.label--radio {
		&:before {
			border-radius: 50%;
		}
		
		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-background-color;
			border: 1px solid @font-swatch7-background-color;
			height: floor(@font-swatch5-line-height*0.8);
			transform: scale(50%);

			.style--light &,
			.style--dark & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}
		}
	}

	.label--checkbox,
	label[for*="input--terms"] {
		&:after {
			margin-top: floor(@font-swatch5-line-height*-1.2/4);
			height: floor(@font-swatch5-line-height*1.2);
			border: 1px solid transparent;
			box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			transform: scale(50%) rotate(45deg);

			.style--light &,
			.style--dark & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}

			.style--accent & {
				box-shadow: -6px -6px 0 0 inset @color--dark;
			}
		}
	}
	
	label[for*="input--terms"] span a.form__link {
		text-decoration: underline;
		border: none;

		.style--light & {
			color: fade(@contrast--light, 90%);
		}

		.style--accent & {
			color: fade(@contrast--accent, 90%);
		}

		.style--dark & {
			color: fade(@contrast--dark, 90%);
		}
	}
}

// General Widgets

div[role="main"] .widget:not(.row) {
	margin-bottom: 10px;
}

// IMAGE

.widget.image {
	margin-bottom: 2em;

	a:hover {
		text-decoration: none;
	}

	span.image-title,
	span.image-description {
		margin: 0;
		color: @font-swatch5-color;
	
		.style--light & {
			color: fade(@contrast--light, 90%);
		}

		.style--accent & {
			color: fade(@contrast--accent, 90%);
		}

		.style--dark & {
			color: fade(@contrast--dark, 90%);
		}
	}

	span.image-title {
		margin-top: 1em;
	
		@media @mobile {
			margin-top: 0.5em;
		}
	}
}

// GALLERY

.widget.gallery {
	margin: 20px 0;

	ul.gallery-widget {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
		padding: 0;
		list-style: none;

		li {
			float: none;
			width: 100%/3;
			padding-bottom: 100%/3;

			@media @tablet {
				width: 100%/2;
				padding-bottom: 100%/2;
			}

			@media @mobile {
				width: 100%;
				padding-bottom: 100%;
			}

			.responsivecolumns & {
				width: 100%;
				padding-bottom: 100%;
			}

			span.image-data:hover {
				background-color: fade(@color-swatch4, 80%);
				padding: 30px;
				.transition(all, 0.5s, ease-in);
				display: table-cell !important;
				vertical-align: middle;
			}

			span.image-data:after {
				content: '';
				display: block;
				position: relative;
				position: absolute;
				top: 18px;
				right: 18px;
				left: 18px;
				bottom: 18px;
				.transition(background-color, 0.5s, ease-out);
			}

			span.inner {
				position: absolute;
				left: 5px;
				right: 5px;
				bottom: 10px;

				.title,
				.description {
					color: @color-swatch1;
					letter-spacing: @font-swatch4-letter-spacing;
					text-align: center;
				}
				.title {
					font-family: @font-swatch1-font-family;
					font-size: 24px;
					font-weight: 300;
					line-height: 26px;
				}
				.description {
					font-family: @font-swatch4-font-family;
					font-size: 14px;
					line-height: 20px;
				}
			}

			.inner {
				left: 0;
				right: 0;
				bottom: 0;
				-webkit-font-smoothing: antialiased;
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				filter: gray;
				.transition(all, 0.5s, ease-out);

				&:hover {
					filter: grayscale(0%);
					-webkit-filter: grayscale(0%);
					filter: none;
					.transition(all, 0.5s, ease-in);
				}

				a {
					display: table;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.image-data {
		padding: 30px;
		display: table-cell;
		vertical-align: middle;
		opacity: 0;
		.transition(all, 0.5s, ease-out);

		&:hover {
			background-color: fade(@color-swatch4, 80%);
			opacity: 1;
		}
	}
}

// SLIDESHOW

.widget.responsiveslideshow {
	.slideshow-widget {
        .btn-play,
		.btn-prev,
		.btn-next {
			position: absolute;
			opacity: 1;
			top: 50%;
			border: none;
			width: 50px;
			height: 50px;
			margin-top: -25px;
            background-color: fade(@color-swatch1, 80%);
			-webkit-transition: background-color 0.15s ease-in-out;
			-moz-transition: background-color 0.15s ease-in-out;
			-o-transition: background-color 0.15s ease-in-out;
			transition: background-color 0.15s ease-in-out;
			font-size: 0;
			line-height: 0;
            color: @color-swatch6;

			&:hover {
                background-color: @color-swatch1;
			}

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				color: @font-swatch7-color;
				background: transparent;
				margin-top: -10px;
				margin-left: -5px;
			}
		}

		.btn-play {
    		left: 50%;
			margin-left: -25px;

			&:after,
			&.pause:after {
				height: 0;
				width: 0;
				border: 10px solid transparent;
				border-left: 15px solid @color-swatch6;
			}

			&.pause:after {
                height: 18px;
                width: 10px;
                margin-top: -9px;
                margin-left: -5px;
                border: none;
				border-left: 2px solid @color-swatch6;
				border-right: 2px solid @color-swatch6;
			}
		}

		.btn-prev,
		.btn-next {
			&:before,
			&:after {
				border: 2px solid @color-swatch6;
				transform: rotate(45deg);
				margin-top: -7px;
				margin-left: auto;
				left: auto;
				right: auto;
				width: 12px;
				height: 12px;
			}
		}

		.btn-prev {
			&:before,
			&:after {
				border-top: transparent;
				border-right: transparent;
				left: 50%;
			}

			&:before {
				margin-left: 0;
			}

			&:after {
				margin-left: -7px;
			}
		}

		.btn-next {
			&:before,
			&:after {
				border-bottom: transparent;
				border-left: transparent;
				right: 50%;
			}

			&:before {
				margin-left: 0;
			}

			&:after {
				margin-right: -7px;
			}
		}
	}

	.slideshow-widget-controls {
		margin: 10px 0 20px;

		.dot {
			.border-radius(50px);
			width: 12px;
			height: 12px;
			background-color: transparent;
			border: 1px solid @color-swatch2;

            .style--light & {
                border-color: @contrast--light;
            }
        
            .style--accent & {
                border-color: @contrast--accent;
            }
        
            .style--dark & {
                border-color: @contrast--dark;
            }

			&.selected {
				background-color: @color-swatch2;
				border: 1px solid @color-swatch2;

                .style--light & {
                    background-color: @contrast--light;
					border-color: @contrast--light;
                }
            
                .style--accent & {
                    background-color: @contrast--accent;
					border-color: @contrast--accent;
                }
            
                .style--dark & {
                    background-color: @contrast--dark;
					border-color: @contrast--dark;
                }
			} 

			&:hover {
				background-color: @color-swatch2;
				border: 1px solid @color-swatch2;
				cursor: pointer;

				.style--light & {
                    background-color: @contrast--light;
					border: 1px solid @contrast--light;
                }
            
                .style--accent & {
                    background-color: @contrast--accent;
					border-color: @contrast--accent;
                }
            
                .style--dark & {
                    background-color: @contrast--dark;
					border-color: @contrast--dark;
                }
			}
		}
	}

	.content-wrapper {
		background-color: fade(@color-swatch2, 50%);

		.title,
		.description {
			display: block;
			padding: 1.5em;
		}

		.title {
			font-weight: bold;
		}

		.title + .description {
			margin-top: -0.5em;
			padding-top: 0;
			padding-bottom: 1.5em;
		}
	}

	.slideshow-image-list,
	.slideshow-widget {
		@media @mobile {
			height: 230px;
			min-height: 250px;
		}
	}
}

// TWITTER

.widget.twitter {
    margin: 2em 0;
	padding: 0;

	ul {
		padding: 0px;
		margin: 0;

		.twitter-profile-pic {
			float: left;
			margin-right: 20px;
		
			a:hover {
				border-bottom: 0;
			}
		}
	
		.twitter-content {
			margin-left: 68px;
	
			span.bk-full-name {
				font-family: @font-swatch4-font-family;
                color: @color-swatch4;
    
                .style--light & {
                    color: @contrast--light;
                }
            
                .style--accent & {
                    color: @contrast--accent;
                }
            
                .style--dark & {
                    color: @contrast--dark;
                }
			}
		}
		
		li {
            margin-bottom: 4em;
			padding: 0;
			border-bottom: none;
			list-style: none;
			font-family: @font-swatch5-font-family;
			font-size: @font-swatch5-font-size;
			color: @font-swatch5-color;

			.style--light & {
				color: fade(@contrast--light, 90%);
			}

			.style--accent & {
				color: fade(@contrast--accent, 90%);
			}

			.style--dark & {
				color: fade(@contrast--dark, 90%);
			}
	
			a,
			span a,
			time {
				font-family: @font-swatch5-font-family;
				text-decoration: none;
				font-size: 1em;
			
				&:hover {
					text-decoration: none;
				}
			}
		
			p {
				font-size: @font-swatch5-font-size;

				.style--light & {
					color: fade(@contrast--light, 90%);
				}

				.style--accent & {
					color: fade(@contrast--accent, 90%);
				}

				.style--dark & {
					color: fade(@contrast--dark, 90%);
				}
			}
		
			a {
				font-family: @font-swatch5-font-family;
				text-decoration: none;
                color: @color-swatch4;

                .style--light & {
					color: @contrast--light;
				}

				.style--accent & {
					color: @contrast--accent;
				}

				.style--dark & {
					color: @contrast--dark;
				}
			}

            .twitter-content {
                > a:first-child,
                > p {
                    display: block;
    
                    &:hover {
                        text-decoration: none;
                    }
                }
                
                > a:first-child {
                    margin-top: -0.3em;
                    line-height: 1.8em;
                    font-size: 1.2em;
                }

                time,
                time + span,
                span + p {
					opacity: 0.6;
                    margin-bottom: 0;
                    padding: 0;
                    font-size: 0.9em;
                    line-height: 1.2em;
					color: @font-swatch5-color;
				
					.style--light & {
						color: fade(@contrast--light, 90%);
					}

					.style--accent & {
						color: fade(@contrast--accent, 90%);
					}

					.style--dark & {
						color: fade(@contrast--dark, 90%);
					}
                }
                
                time + span + span a {
					color: @color-swatch4;
	
					.style--light & {
						color: @contrast--light;
					}

					.style--accent & {
						color: @contrast--accent;
					}

					.style--dark & {
						color: @contrast--dark;
					}
                }
            }
		}
	}
}

// YELP REVIEW

.widget.yelpreview {
	padding: 0;

	ul.yelpreview {
		padding: 0;

		li {
			margin: 0 0 3em;

			dt, dd {
				font-size: 1em;
			}

			dt.rating {
				padding-top: 0;
			}

			dd.created,
			dd.reviewer {
				color: @font-swatch6-color-hover;
			
				.style--light & {
					color: @font-swatch6-color-hover;
				}
			
				.style--accent & {
					color: @color--dark;
				}
			
				.style--dark & {
					color: @color--accent;
				}
			}

			dd.created {
				margin-top: 1em;
                color: @color-swatch4;

                .style--light & {
                    color: @color-swatch4;
                }
			
				.style--accent & {
					color: @color--dark;
				}
			
				.style--dark & {
					color: @color--accent;
				}
			}
	
			dd.reviewer {
				margin-top: 0.5em;
				margin-bottom: 1em;
				font-family: @font-swatch4-font-family;
				font-size: @font-swatch4-font-size;
				letter-spacing: @font-swatch4-letter-spacing;
				line-height: @font-swatch4-line-height;
                color: @color-swatch4;

                .style--light & {
                    color: @color-swatch4;
                }
			
				.style--accent & {
					color: @color--dark;
				}
			
				.style--dark & {
					color: @color--accent;
				}

				&:before {
					content: '- ';
				}
			}

			dd.review-link {
				margin: 1em 0;
			}
		}
	}
}

// LINE

hr.line {
	background-color: lighten(@color-swatch5, 35%);

	.style--light & {
		background-color: lighten(@contrast--light, 35%);
	}

	.style--accent & {
		background-color: lighten(@contrast--accent, 35%);
	}

	.style--dark & {
		background-color: lighten(@contrast--dark, 35%);
	}
}

// FACEBOOK COMMENTS

.fb_iframe_widget_fluid span,
.fb_iframe_widget iframe {
    width: 100%!important;
}

// YELP

.widget.yelpreview {
	background-color: lighten(@color-swatch5, 45%);
	padding: 24px 25px 15px;

	ul {
		padding-bottom: 0;
	}
}
