{% extends "layout.twig" %}
{% block content %}

{% include 'includes/header.twig' %}

<div role="main">
	<div class="container">
		{{zone('main')|raw}}
	</div><!--end container-->
</div><!--end main-->

{% endblock %}
