@import "@{templateCommon}/basekit-bootstrap.less";
@import "@{templateLocal}/css/widgets.less";
@import "@{templateLocal}/css/grid.less";
@import "@{templateLocal}/css/blog.less";
@import "@{templateLocal}/css/ecommerce.less";
@import "@{templateLocal}/css/menu.less";

// -----------------------------
// Page Settings
// -----------------------------

.container {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	padding: 40px;
	@media @mobile {
        padding: 30px;
	}
}

// Mixins

.border-radius (@radius: 6px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transition (@prop: all, @time: 0.5s, @ease: ease) {
	-webkit-transition: @prop @time @ease;  
	-moz-transition:    @prop @time @ease;
	-ms-transition:     @prop @time @ease; 
	-o-transition:      @prop @time @ease;  
}

// -----------------------------
// Language Selector
// -----------------------------

@language-padding: 0.5em;
@language-line-height: @font-swatch6-line-height;

// General styles

.language-selector {
	&.language-selector--horizontal,
	&.language-selector--dropdown {
		z-index: 200;
	    position: relative;
		box-sizing: content-box;
		width: auto;
	}

	&.language-selector--light {
	    background-color: fade(@color-swatch2, 80%);
	}
	&.language-selector--dark {
        background-color: @color-swatch2;
	}
	
	&.language-selector--dropdown {
		height: auto;
		text-align: left;
	}

    .language-selector__inner,
    .language-selector__list,
    .language-selector__item,
    .language-selector__link,
    .language-selector__name,
    .language-selector__localised-name {
    	font-family: @font-swatch6-font-family;
    	font-size: @font-swatch6-font-size;
    	font-weight: @font-swatch6-font-weight;
    	color: @font-swatch6-color;
    	line-height: @font-swatch6-line-height;
    	letter-spacing: @font-swatch6-letter-spacing;
        color: @font-swatch6-color;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
        font-smooth: auto;
    }
}
	
// Inner

.language-selector__inner {
    .language-selector.language-selector--horizontal &,
    .language-selector.language-selector--dropdown & {
	    box-sizing: content-box;
    	padding: @language-padding 0;
		margin: 0 40px;
    }
    
    .language-selector.language-selector--horizontal & {
		padding: @language-padding 0 0;
		
		tablet {
    		padding: @language-padding @language-padding 0;
		}
    }

	.language-selector.language-selector--dropdown & {
    	&:before {
    	    content: "";
            display: block;
    	    height: @language-line-height+2;
    	}
    	&:after {
    	    content: "";
            display: block;
    	    height: @language-padding*2;
    	}
	}
}
	
// List

.language-selector__list {
    .language-selector & {
	    min-width: auto;
    }
	
	.language-selector.language-selector--dropdown & {
		box-sizing: border-box;
		margin: @language-padding 0;
		min-width: auto;
	    max-width: 100%;
        
        @media @tablet {
		    margin: 0;
    	    padding: @language-padding 0;
	    	max-width: 100%;
        }
		
		@media @mobile {
			width: 100%;
		}
	}
	
	.language-selector.language-selector--dropdown.language-selector--flag & {
		@media @mobile {
			width: auto;
		}
	}
}
	
// Item

.language-selector__item {
	.language-selector.language-selector--light &,
	.language-selector.language-selector--dark & {
		cursor: pointer;
	    position: relative;
		border: none;
		background-color: transparent;
		width: auto;
		max-width: 100%;
		
		.language-selector--horizontal& {
		    margin: 0 0 @language-padding @language-padding;
		}
	}
	
	// Link Color
	
	.language-selector.language-selector--horizontal & {
		.language-selector--light& {
	        background-color: desaturate(lighten(@color-swatch2, 40%), 25%);
			
			&:hover {
                background-color: @color-swatch2;
			}
			
			&--current {
				&, &:hover {
	                background-color: @color-swatch2;
				}
			}
		}
		.language-selector--dark& {
	        background-color: desaturate(lighten(@color-swatch2, 10%), 15%);
			
			&:hover {
                background-color: desaturate(lighten(@color-swatch2, 25%), 25%);
			}
			
			&--current {
				&, &:hover {
	                background-color: desaturate(lighten(@color-swatch2, 20%), 25%);
				}
			}
		}
	}
	.language-selector.language-selector--dropdown & {
		.language-selector--light& {
			&, &--current {
	            background-color: desaturate(lighten(@color-swatch2, 40%), 25%);
				
				&:hover {
	                background-color: @color-swatch2;
				}
			}
		}
		.language-selector--dark& {
			&, &--current {
	            background-color: desaturate(lighten(@color-swatch2, 10%), 15%);
				
				&:hover {
	                background-color: desaturate(lighten(@color-swatch2, 25%), 25%);
				}
			}
		}
	}
	
	// Current Item
	
	&--current {
	    &:after {
    		.language-selector.language-selector--dropdown & {
				position: absolute;
        		content: "\25be";
        		top: 50%;
        		right: 0;
        		margin-top: -(@language-line-height/4);
        		width: @language-padding*4;
    		    background-color: transparent;
        		line-height: @language-line-height/2;
        	    font-size: @font-swatch6-font-size;
        		color: @font-swatch6-color;
        		text-align: center;
    		}
	    }
	}
}

// Link

.language-selector__link {
	.language-selector & {
		box-sizing: border-box;
		padding: 0 @language-padding*2;
		border: none;
		hyphens: auto;
	}
	
	// Horizontal - Item
	
	.language-selector.language-selector--horizontal & {
		text-align: right;
		display: inline-block;
	}
	
	// Dropdown - Item
	
	.language-selector.language-selector--dropdown & {
		padding-right: @language-padding*4;
	}
	
	// Link Color
	
	.language-selector.language-selector--horizontal &,
	.language-selector.language-selector--horizontal .language-selector__item--current &,
	.language-selector.language-selector--dropdown &,
	.language-selector.language-selector--dropdown .language-selector__item--current & {
		.language-selector--light&,
		.language-selector--dark& {
			&,
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// Icon

.language-selector__icon {
	.language-selector & {
		margin-right: 0;
		padding: @language-padding 0;
		min-height: @language-line-height;
		box-sizing: content-box;
		line-height: @language-line-height;
	}
	.language-selector.language-selector--flag-text & {
		margin: 0;
	}
	.language-selector.language-selector--dropdown.language-selector--flag-text & {
		float: left;
		box-sizing: border-box;
		line-height: @language-line-height;
	}
}

// Name

.language-selector__name,
.language-selector__localised-name {
	.language-selector & {
        text-rendering: auto;
	}
	
	.language-selector.language-selector--flag-text & {
		display: inline-block;
		padding: @language-padding 0 @language-padding @language-padding;
	}
	.language-selector.language-selector--text &,
	.language-selector.language-selector--flag & {
		padding: @language-padding 0;
	}
	.language-selector.language-selector--text & {
		display: block;
	}
	
	.language-selector.language-selector--horizontal .language-selector__item--current & {
	    color: @font-swatch6-color-hover;
	}
	
	.language-selector.language-selector--dropdown & {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		.language-selector--flag-text& {
			@media only screen and (max-width: 380px) {
				display: none;
			}
		}
	}
}

// -----------------------------
// Header
// -----------------------------

.bk-header {
	background-color: fade(@color-swatch2, 80%);
	position: relative;
	-webkit-font-smoothing: antialiased;
	@media @tablet {
		position: relative;
	}
}

.bk-nav {
	//padding: 0 2%;
	width: 100%;
	display: table;
	@media @tablet {
	    background-color: @color-swatch2;
	}
}

.brand, .social {
    display: table-cell;
    vertical-align: middle;
}

.brand {
	background-color: @color-swatch2;
	padding: 40px;
	width: 25%;
	@media @tablet {
	    display: inline-block;
		width: 100%;
		border-top: 1px solid fade(@color-swatch1, 10%);
	}
}

.social {
	padding: 40px;
	text-align: right;
	@media @tablet {
		background: @color-swatch2;
		display: table-header-group;
		margin-left: 0;
		margin-top: 30px;
		text-align: center;
		width: 100%;
	}
	.widget.socialicons {
		margin: 0;
		span a {
			background-color: fade(@color-swatch1, 80%);
			border: 0;
			.border-radius(100px);
			margin-bottom: 0;
			height: 32px;
			width: 32px;
			background-size: 16px;
			&:hover {
			    background-color: @color-swatch1;
			}
			@media @tablet {
				height: 32px;
				width: 32px;
			}
		}
		.icons {
			@media @tablet {
				padding: 15px 0 10px;
			}
		}
	}
}

.widget {
	&.logo, &.companyname, &.extendednavigation {
		display: table-cell;
		vertical-align: middle;
	}
	&.logo {
		@media @tablet {
			max-width: 100%;
			width: auto;
		}
		@media @mobile {
		}
	}
	&.companyname {
		padding-left: 20px;
		a {
			font-weight: @font-swatch10-font-weight;
			word-wrap: break-word;
			@media @mobile {
				font-size: bkscale(@font-swatch10-font-size, 0.85);
			}
		}
	}
	&.extendednavigation {
		padding: 0 40px;
		@media @tablet {
			display: block;
			margin-left: 0;
			width: 100%;
		}
		ul {
		    @media @tablet {
		        padding-top: 0;
		        padding-bottom: 40px;
		    }
		}
		ul li {
			@media @tablet {
				border-bottom: 1px solid fade(@color-swatch1, 10%);
				padding: 0.5em 0;
			}
			&.folder {
				.text {
					color: fade(@font-swatch6-color, 70%);
				}
				@media @tablet {
					padding: 18px 0;
				}    
			}
			a {
				color: fade(@font-swatch6-color, 70%);
				@media @tablet {
					padding: 10px 0;
				}
			}
		}
		ul li.folder ul li a {
			padding: 10px 0;
		}
		ul li:hover ul {
			background-color: fade(@color-swatch3, 95%);
			@media @tablet {
			}
			li {
                padding: 8px 20px;
			}
			li:last-child {
				@media @tablet {
					border-bottom: none;
				}
			}
		}
		a.pull {
			top: -68px;
			right: 40px;
			&:after {
                height: 2px;
                background: @font-swatch6-color;
                box-shadow: 0 9px 0 @font-swatch6-color, 0 18px 0 @font-swatch6-color;
            }
		}
	}
}

.widget .extendednavigation li > .text {
    @media @tablet {
        padding: 0;
    }
}

@media only screen and (max-width: 769px) {
	.widget.extendednavigation .bk-overlay {
		top: -40px!important;
	}
}

// Feature

.widget.feature .feature-bgimg, .widget.feature .feature-bgimg .content {
	height: 600px;
	min-height: 350px;
	vertical-align: bottom;
	@media @tablet {
	    vertical-align: middle;
		background-color: fade(@color-swatch2, 80%);
	}
	@media @tablet {
        height: 350px;
	}
}

.widget.feature h2, .widget.feature h3 {
	@media @tablet {
		max-width: 100%;
	}
}

.widget.feature h2 {
	font-family: @font-swatch8-font-family;
	font-size: @font-swatch8-font-size;
	font-weight: @font-swatch8-font-weight;
	line-height: @font-swatch8-line-height;
	@media @mobile {
		font-size: bkscale(@font-swatch8-font-size, 0.7);
		line-height: bkscale(@font-swatch8-line-height, 0.7);
	}
}

.widget.feature h3 {
	color: fade(@font-swatch9-color, 70%);
	font-family: @font-swatch9-font-family;
	font-size: @font-swatch9-font-size;
	font-weight: @font-swatch9-font-weight;
	line-height: @font-swatch9-line-height;
	@media @mobile {
		font-size: bkscale(@font-swatch9-font-size, 0.7);
		line-height: bkscale(@font-swatch9-line-height, 0.7);
	}
}

.widget.feature .feature-bgimg .content .spare {
	max-width: 1400px;
	margin: 0 auto;
	padding: 40px;
	background-color: fade(@color-swatch2, 80%);
	-webkit-font-smoothing: antialiased;
	@media @tablet {
		//padding: 30px;
		background: none;
	}
	@media @mobile {
		padding: 30px;
	}
}

.widget.feature .feature-bgimg .content button.btn {
	background: transparent;
	border: 2px solid @color-swatch1;
	border-radius: 0;
	margin-top: 25px;
	padding: 8px 24px 8px;
	text-transform: uppercase;
	.transition(all, .3s, ease-out);
	&:hover {
		background-color: @color-swatch1;
		color: @color-swatch2;
		.transition(all, .3s, ease-in);
	}
}

// -----------------------------
// Main
// -----------------------------

h5 {
    font-size: @font-swatch5-font-size;
    color: @font-swatch4-color;
}

blockquote {
    background-color: fade(@color-swatch3, 10%);
    border-left: 2px solid @color-swatch2;
    font-style: italic;
    font-size: @font-swatch4-font-size;
    font-weight: 300;
    line-height: @font-swatch3-line-height;
    &:before {
        display: none;
    }
}

.content .bk-content-text ol {
    list-style-position: inherit;
}

// -----------------------------
// Footer
// -----------------------------

.bk-footer {
	border-top: 1px solid fade(@color-swatch2, 20%);
	.widget.profile .bk-profile-socialicons span a, .widget.profile .bk-profile-socialicons span a:hover {
		background-color: transparent;
	}
}

.gdpr-footer {
	margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    background-color: transparent;
	padding: 10px 40px;
	
	@media @mobile {
		padding: 10px 30px;
    }
    
    &__link {
		font-size: @font-swatch5-font-size;
		padding: 5px 10px;
    }
}